@import "city.css";
@import "controlpanel.css";
@import "dpad.css";
@import "car.css";

:root {
  --black-border: 1px solid black;
  --blue-border: 1px solid blue;
  --red-border: 1px solid red;
  --green-border: 1px solid green;
  --soft-corners: 6px;
  --play-btn-padding: 1rem;
  font-size: 16px;
}

/* * { */
/* border: var(--black-border); */
/* } */

.App {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

/*NSEW*/
.cardinal-direction {
  border: var(--green-border);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

#east,
#west {
  height: 100%;
  width: 5%;
}

#north,
#south {
  height: 5%;
  width: 100%;
}

#playbtn {
  font-size: 3rem;
  transition-duration: 300ms;
  border: var(--blue-border);
  border-radius: var(--soft-corners);
  padding: var(--play-btn-padding);
}

#playbtn:hover {
  transform: scale(1.3);
  transition-duration: 300ms;
}