.controlpanel {
  display: flex;
  flex-direction: column;
  width: 20vw;
  border: var(--blue-border);
}

.instruction-list {
  display: flex;
  flex-direction: column;
  height: 60%;
  border: var(--black-border);
}

.instruction {
  padding-left: 10%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  border: var(--black-border);
}

#timer,
#reset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
